@font-face {
    font-family: "DosisRegular";
    src: url(../fonts/Dosis-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DosisRegular";
}

body{
    display: flex;
    justify-content: space-between;
    padding: 6em;
    margin: 0 auto;
    max-width: 1000px;
    background: linear-gradient(rgba(5, 7, 12, .8), rgba(5, 7, 12, .8)),
    url(../images/pizarraFondoFormulario.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}
.requerido{
    font-weight: 700;
    color: red;
}

.marca{
    margin: 2em 0;
    height: fit-content;
}
.marca img{
    width: 15em;
    border-radius: 10px;
}

p{
    font-size: 1.1em;
    font-weight: 700;
    color: red;
}

form{
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    color: white;
    width: 50%;
}
input{
    height: 2em;
    margin: .5em 0;
    font-size: .9em;
    background: transparent;
    border-radius: 4px;
    border: 1px solid;
    color: white;
    animation: shake .14s 3;
}

input:valid{
    border-color: #45feaf;
    animation: none;
}

@keyframes shake {
    0%, 100% {translate: 0;}
    25% {translate: 8px 0;}
    75% {translate: -8px 0;}
}

.checkBox input{
    width: auto;
    height: auto;
    margin: 0;
}
.submit{
    width: 8em;
    background-color: black;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px 16px;
    font-size: 1.3em;
    font-weight: 700;
    cursor: pointer;
    align-self: center;
}

@media screen and (max-width: 700px) {
    body{
        min-width: 400px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
    .marca{
        margin: 1em 0;
    }
    .marca img{
        width: 10em;
    }
    form{
        font-size: 1em;
        width: 60%;
    }
}